name: Build Veg ZIP and Upload Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Python ZIP script
        run: |
          python3 veg_zip_create.py

      - name: Upload ZIP to GitHub
        uses: actions/upload-artifact@v3
        with:
          name: Veg_Fruit_Leafy_Marathi
          path: Veg_Fruit_Leafy_Marathi.zip
