name: Build Veg ZIP and Upload Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Show debug
        run: ls -R images || echo "Images folder not found"

      - name: Run Python zip script
        run: python3 veg_zip_create.py

      - name: Upload ZIP as artifact
        uses: actions/upload-artifact@v3
        with:
          name: Veg_Fruit_Leafy_Marathi
          path: Veg_Fruit_Leafy_Marathi.zip
